@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "colors";

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  color: $text-light;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $light-background;
}

.nav {
  //position: absolute;
  //width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  @media (min-width: 1300px) {
    padding: clamp(0.625rem, -2.8571rem + 4.2857vw, 2.5rem);
  }

  .menu {
    display: flex;
    position: relative;
    border-radius: 99px;
    background-color: $menu-gray;
    font-weight: 700;
    padding: 0.3rem;
  }

  .menu * {
    z-index: 2;
  }

  .opt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 200px;
    font-size: 1.25rem;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }

  .glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: white;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }

  input[type="radio"] {
    display: none;
    //color: white;
  }

  input[type="radio"]:checked + label {
    color: $text-light;
  }

  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }

  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }

  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }

  @media (min-width: 300px) {
    .menu {
      transform: scale(0.6);
    }
  }

  @media (min-width: 600px) {
    .menu {
      transform: scale(0.8);
    }
  }

  @media (min-width: 1500px) {
    .menu {
      transform: scale(1);
    }
  }
}

.pages {
  //border: solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
