.contact {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 14vw;
  width: 75vw;
  gap: 15px;
  @media (min-width: 801px) {
    gap: clamp(0.625rem, 0.0405rem + 1.1676vw, 1.5rem);
  }
  .email {
    background-color: rgb(78, 137, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    img {
      height: 4rem;
    }

    .mail-hover {
      height: 100%;
      width: 100%;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .phone {
    background-color: #2fd44b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    img {
      height: 4rem;
    }

    .phone-hover {
      height: 100%;
      width: 100%;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .contact-form {
    grid-column: 3/6;
    grid-row: 1/3;
    border: solid black;
  }
  .linkedin {
    background-color: #0072b1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    img {
      height: 6rem;
    }
  }
  .location {
    background-color: rgb(251, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    img {
      height: 4rem;
    }
    .location-hover {
      height: 100%;
      width: 100%;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .location-hover > div,
  .mail-hover > div,
  .phone-hover > div {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .mail-hover > div {
    font-size: 1.2rem;
  }
}
